[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
pillow = "*"
pipfile = "*"
django-rest-swagger = "*"
gunicorn = "*"
django-cors-headers = "*"
django-heroku = "*"
cloudinary = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
